body {
    transition: all 400ms ease;
  }
  
  ::-webkit-scrollbar {
     display: none;
  }
  .imgpara {
    display: grid;
    grid-gap: 4.5rem;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Philosopher';
    text-align: center;
  }
  
  .Text {
    padding-top: 10rem;
  }
  
  .Text .textone span {
    font-size: 2.5rem;
    font-weight: 600;
    color: #232354;
  }
  
  .Text .textsecond {
    margin-top: -16px;
  }
  
  .Text .textsecond span {
    font-size: 2.5rem;
    color: #232354;
    font-weight: 600;
  }
  
  .Text .textthird {
    margin-top: -10px;
  }
  
  .Text .textthird small {
    opacity: .8;
    color: #232354;
  }
  
  .Text .textfourth {
    margin-top: -8px;
  }
  
  .Text .textfourth small {
    color: #232354;
    opacity: .8;
  }
  
  .imgpara .img img {
    width: 30rem;
  }
  
  