body {
  transition: all 400ms ease;
}

.imgpara {
  display: grid;
  grid-gap: 4.5rem;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Philosopher';
  text-align: center;

}

.Text {
  padding-top: 12rem;
}

.Text .textone span {
  font-size: 3.0rem;
  font-weight: 600;
  color: #232354;
}

.Text .textsecond {
  margin-top: -16px;
}

.Text .textsecond span {
  font-size: 3.0rem;
  color: #232354;
  font-weight: 600;
}

.Text .textthird {
  margin-top: -2px;
}

.Text .textthird small {
  opacity: .8;
  color: #232354;
  font-size: 1.0rem;
}

.Text .textfourth {
  margin-top: -1px;
}

.Text .textfourth small {
  color: #232354;
  opacity: .8;
  font-size: 1.0rem;
}

.imgpara .img img {
  width: 35rem;
}


/* ============= media query =============== */

@media screen and (max-width: 1300px) {
  .imgpara {
    padding-top: 2rem;
  }

  .imgpara .img img {
    width: 26rem;
  }

  .Text {
    padding-top: 7rem;
  }

  .socialMediaLogo {
    width: 5%;
    height: 32%;
  }
}

@media screen and (max-width: 1200px) {
  .imgpara {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 0rem;
  }

  .Text {
    padding-top: 5rem;
  }

  .imgpara .img {
    text-align: center;
  }

  .textButton a {
    margin-top: .5rem;
    margin-left: 10rem;
  }

  .socialMediaLogo {
    width: 6.1%;
  }
}

@media screen and (max-width: 1024px) {
  .textButton a {
    margin-top: .5rem;
    margin-left: 5rem;
  }

  .socialMediaLogo {
    width: 8%;
  }
}

@media screen and (max-width: 800px) {
  .imgpara .img img {
    width: 22rem;
  }

  .socialMediaLogo {
    display: none;
  }

  .Text .textone span {
    font-size: 1.7rem;
  }

  .Text .textsecond span {
    font-size: 1.7rem;
  }

  .Text .textsecond {
    margin-top: -10px;
  }

  .Text .textthird small {
    font-size: .7rem;
  }

  .Text .textfourth {
    margin-top: -12px;
  }

  .Text .textfourth small {
    font-size: .7rem;
  }

  .imgpara {
    grid-gap: 2.5rem;
  }

  .Text {
    padding-top: 3rem;
  }

  .PhoneIcon {
    display: none;
  }
}

@media screen and (max-width: 400px) {

  .Text .textone span {
    font-size: 1.5rem;
  }

  .Text .textsecond span {
    font-size: 1.5rem;
  }

  .Text .textsecond {
    margin-top: -6px;
  }

  .Text .textthird small {
    font-size: .55rem;
  }

  .Text .textfourth {
    margin-top: -14px;
  }

  .Text .textfourth small {
    font-size: .56rem;
  }

  .imgpara {
    grid-gap: 2.8rem;
  }

  .Text {
    padding-top: 3rem;
  }

  .imgpara .img img {
    width: 16rem;
  }
}

.btn-start {
  background-color: #232354;
  color: white;
  margin-top: 1rem;
  padding: .6rem 3rem;
  border-radius: .5rem;
}

.btn-start:hover {
  background: transparent;
  color: #232354;
}