.driver {
    background-color: var(--color_p1);
    width: 300px;
    min-height: 100vh;
    position: absolute;
    text-align: center;
    padding-top: 2rem;
    color: #8443e5;
}

.driver .topProfile{
    font-weight: 100;
    font-size: 1.2rem;
}

.driver .pav {
    padding-top: .8rem;
    cursor: pointer;
}

.driver .pav span:hover{
   color: white;
}

.subpages {
    left: 35%;
    top: 15%;
    position: absolute;
}

/* ======== profile =========   */

.profileDriver h6{
    color: #8443e5;
}

.profileDriver small{
    opacity: .3;
}

.profileDriver form .form-group{
     padding-top: 1rem;
}

.profileDriver form .btn-profile {
    background-color: #8443e5;
    color: white;
    padding: .5rem 3rem;
}

/* =========== card css ============ */

.card{
    align-items: center;
    /* padding: 40px 30px; */
    border-radius: 8px;
    box-shadow: 0 0 15px 5px rgba(228, 228, 228, 0.5);
    background-color: #fff;
    width: 21%;
    text-align: center;
}

.card img{
    width: 8rem;
} 

.card:hover{
   background-color: #efe4ff;
}

.card .card-body{
    margin: auto;
}

.card .card-body .TransName small{
    color: #8443e5;
}

.card .card-body small{
    font-size: .7rem;
}

.buttons .btn-card{
   margin-top: 1rem;
   background-color: #8443e5;
   color: white;
   border: none;
   border-radius: .2rem;
   padding: .2rem 1rem;
   font-size: .8rem;
}

/* ========= upload doc page =========== */

.doc{
    padding-top: 2rem;
}

.doc h6 {
    color: #8443e5;
    font-size: 1.1rem;
}

.doc small{
    opacity: .4;
}
.uploadtab{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1rem;
}

.doc .btn-profile{
    background-color: #8443e5;
    color: white;
    padding: .5rem 3rem;
}
